/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  font-family: fantasy;
  box-sizing: border-box;
}

body {
  margin: auto;
  background-image: url("imgs/spooky-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}

.game-grid {
    display: grid;
    align-content: stretch;
    grid-template-columns: 35% 45% 35%;
    justify-items: stretch;
    gap: 10%;
    margin-top: 50%;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    border: solid;
    padding: 57px;
}

.grid-piece {
    padding: 50%;
    margin: -15%;
}

.top-left {
    border-bottom: solid;
    border-right: solid;
}

.top-center {
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}

.top-right {
    border-bottom: solid;
    border-left: solid;
}

.middle-left {
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
}

.middle-center {
    border: solid;
}

.middle-right {
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}

.bottom-left {
    border-top: solid;
    border-right: solid;
}

.bottom-center {
    border-top: solid;
    border-left: solid;
    border-right: solid;
}

.bottom-right {
    border-left: solid;
    border-top: solid;
}

.hidden {
  display: none;
}
