/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  font-family: 'Halloween';
  box-sizing: border-box;
  color: orange;
  text-align: center;
}

@font-face {
  font-family: 'Halloween';
  src: url('scary-halloween-font.ttf')
}

body {
  margin: auto;
  background-image: url("imgs/spooky-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: center;
}

.title {
  background-color: rgba(0,0,0,.5);
  text-align: center;
  border-radius: 5%;
}

.scoreboard {
    background-color: rgba(0,0,0,.5);
    height: 16%;
    text-align: center;
    border-radius: 7%;
}

.game-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}

.game-grid {
    display: grid;
    align-content: center;
    grid-template-columns: 40% 45% 40%;
    grid-template-rows: 40% 45% 40%;
    justify-items: stretch;
    gap: 11%;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    border: solid black;
    padding: 60px;
    background-position: center;
    font-size: 45px;
}

.grid-piece {
    padding: 50%;
    margin: -15%;
}

.result-message {
  background-color: rgba(0,0,0,.5);
  text-align: center;
}

.top-left {
    border-bottom: solid;
    border-right: solid;
}

.top-center {
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
}

.top-right {
    border-bottom: solid;
    border-left: solid;
}

.middle-left {
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
}

.middle-center {
    border: solid;
}

.middle-right {
    border-top: solid;
    border-left: solid;
    border-bottom: solid;
}

.bottom-left {
    border-top: solid;
    border-right: solid;
}

.bottom-center {
    border-top: solid;
    border-left: solid;
    border-right: solid;
}

.bottom-right {
    border-left: solid;
    border-top: solid;
}

.hidden {
  display: none;
}
