/* ~~~~~ GLOBAL RULES ~~~~~ */
* {
  font-family: 'Halloween';
  box-sizing: border-box;
  color: orange;
  text-align: center;
}

@font-face {
  font-family: 'Halloween';
  src: url('scary-halloween-font.ttf')
}

body {
  margin: auto;
  background-image: url("imgs/spooky-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  justify-content: center;
}

.title {
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  border-radius: 5%;
}

.scoreboard {
  background-color: rgba(0, 0, 0, .5);
  height: 16%;
  text-align: center;
  border-radius: 7%;
}

.game-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-evenly;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  border: solid black 1px;
  border-radius: 6px;
  font-size: 78px;
  justify-content: center;
}

.grid-piece {
  width: 156px;
  height: 175px;
  cursor: pointer;
  line-height: 161px;
  font-size: 70px;
  margin: 0%;
}

.result-message {
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  width: 100%;
  height: 30%;
  font-size: 50px;
}

.top-left {
  border-bottom: solid;
}

.top-center {
  border-bottom: solid;
  border-left: solid;
  border-right: solid;
}

.top-right {
  border-bottom: solid;
}

.middle-center {
  border-left: solid;
  border-right: solid;
}

.bottom-left {
  border-top: solid;
}

.bottom-center {
  border-top: solid;
  border-left: solid;
  border-right: solid;
}

.bottom-right {
  border-top: solid;
}

.center {
  width: 467px;
}

.hidden {
  display: none;
}

.restart-button {
    margin-top: 15%;
    background: black;
    padding: 2%;
    font-size: larger;
    cursor: pointer;
}
